{% extends "layout.html" %}

{% block title %}
    Change Passowrd
{% endblock %}

{% block main %}
    <form action="/change_pass" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password_new" name="password_new" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password_confirm" name="password_confirm" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Sumbit</button>
    </form>
{% endblock %}
